:root {
  --blue: #4263EB;
  --dark-blue: #364FC7;
  --pink: #D6336C;
  --dark-pink: #A61E4D;
  --white: #FFFFFF;
  --background: #E5E5E5;
  --dark-pink-background: #1F000B;
  --pink-background: #FFF0F6;
  --text: #00082F;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%; //15px
  }

  @media (max-width: 720px) {
    font-size: 87.5%; //14px
  }
}

body {
  background: var(--background);
  color: var(--text);
  --primary: var(--blue);
  --dark-primary: var(--dark-blue);
  webkit-font-smoothing: antialiased;
}

body.pink {
  background: var(--pink-background);
  color: var(--text);
  --primary: var(--pink);
  --dark-primary: var(--dark-pink);
}

body.dark-blue {
  background: var(--text);
  color: var(--white);
}

body.dark-pink {
  background: var(--dark-pink-background);
  color: var(--white);
  --primary: var(--pink);
  --dark-primary: var(--dark-pink);
}

body, input, textarea, select, button, p {
  font: 400 1rem 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

button {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

/* CUSTOM CSS*/

.container {
  text-align: center;
  width: 18.75rem;
  margin: 60px auto;
}

img {
 width: 100%;
}

img.avatar {
  border-radius: 50%;
  width: 6.25rem;
  height: 6.25rem;
  border: 4px solid var(--primary);
  padding: 3.7px;
}

.name {
  font-size: 2rem;
  font-weight: 600;
  line-height: 2.3438;
  /* color: var(--text); */
  margin-top: 24px;
  /* margin-bottom: 8px; */
}

.username {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  /* color: var(--text); */
  opacity: 0.8;
  font-size: 1.125rem;
  line-height: 1.6875;
}

ul {
  margin: 48px 0;
}

ul li a {
  height: 53px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary);
  color: var(--white);
  text-transform: uppercase;
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3125rem;

  margin-bottom: 1rem;
  border-radius: 6px;

  transition: background 0.4s;
}

ul li a:hover {
  background: var(--dark-primary);
}

/* li {
  
  flex-direction: row;
 
  padding: 1rem 5rem;
  

  width: 18.75rem;
  height: 3.3125rem;

  border-radius: 6px;
}

li:first-child,
li:last-child {
  margin: 0;
} 

li + li {
  margin: 0.625rem 0;
}

li a {
  font-size: 0.875rem;
  font-weight: 700;
  line-height: 1.3125rem;
  align-items: center;
  color: var(--white);
} */

footer {
  font-weight: 500;
  size: 12px;
  line-height: 1rem;
  opacity: 0.6;

  transition: opacity 0.4s;
}

footer:hover {
  opacity: 1;
}

footer a {
  color: var(--text);
}